<div class="users">
  <div class="table-header row">
    <div class="col-3">id</div>
    <div class="col-3">User Name</div>
    <div class="col-3">Avatar</div>
    <div class="col-3">Repos</div>
  </div>
  <div class="table-body pb-2">
    <ng-container *ngIf="result && result.total_count !== 0; else emptyTemplate">
      <div class="row" *ngFor="let item of result.items | keyvalue; let i = index">
        <div class="col-3 fw-bold">{{ result.items[i].id }}</div>
        <div class="col-3">{{ result.items[i].login }}</div>
        <div class="col-3">
          <img src="{{ result.items[i].avatar_url }}" />
        </div>
        <div class="col-3">
          <a class="btn btn-outline-secondary" href="{{ result.items[i].html_url }}?tab=repositories"target="_blank">See</a>
        </div>
        <hr/>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #emptyTemplate> 
  <h4 class="message">{{ isLoading ? "Loading..." : emptyMsg }}</h4>
</ng-template>
